body {
	font-family: Helvetica, 'Trebuchet MS', sans-serif;
}

.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.progress {
}

	.progress h2 {
		margin-bottom: 0.1em;
	}

	.progress p#status {
		color: #f2f2f2;
		font-style: italic;
		margin-top: 0.1em;
		font-size: 0.9em;
	}

.progressbar {
	font-size: 1.5em;
	width: 100%;
	height: 1.1em;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	text-align: center;
}

	.progressbar #bar {
		background: #329cff; /* Old browsers */
		background: -moz-linear-gradient(top, #329cff 0%, #0080ff 50%, #329cff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#329cff), color-stop(50%,#0080ff), color-stop(100%,#329cff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #329cff 0%,#0080ff 50%,#329cff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #329cff 0%,#0080ff 50%,#329cff 100%); /* Opera 11.10+ */
		background: linear-gradient(to bottom, #329cff 0%,#0080ff 50%,#329cff 100%); /* W3C */
		display: block;
		float: left;
		height: 1.1em;
		width: 0%;
		border-right: 1px solid #f2f2f2;
	}

	.progressbar #percentage {
		position: absolute;
		left: 40%;
		right: 40%;
		text-align: center;
	}

#console {
	background-color: #0c0c0c;
	color: #13a10e;
	font-family: Consolas, 'Courier New', Courier, monospace;
	height: 30em;
	overflow: auto;
	padding: 0.5em;
}

.error {
	color: #c50f1f;
	font-weight: bold;
}

	.error .stacktrace {
		color: #f2f2f2;
		font-size: 0.8em;
	}

	.error .innerexception {
		margin-left: 2em;
		color: #c50f1f;
	}

.warning {
	color: #c19c00;
}

.debug {
	color: #f2f2f2;
}

.expand {
	border: 2px solid #13a10e;
	background-color: transparent;
	color: #13a10e;
	display: block;
	font-family: Consolas, 'Courier New', Courier, monospace;
	margin-bottom: 1em;
	padding: 8px;
}
